 body{
          background-color:#caf7e3;}
 hr{
          	border-color: grey;
          	border-width: 4px;
          	border-style: none;
          	border-top-style:dotted;
          	width:5%;}
h1{
    color:#66BFBF;
}
h3{
    color:#66BFBF;
}